# DB_config
DB_HOST=fedev-mysql-server
DB_PORT=3306
DB_USERNAME=user
DB_ROOT_PASSWORD=root1234
DB_PASSWORD=password1234
MAINDB_NAME=maindb
TESTDB_NAME=testdb

# Server_config
SERVER_PORT=5000

# Secret Key for session
SESSION_SECRET=m!y@s#e$c%r%e^t

# Naver
# OAuth Secrets
NAVER_AUTH_CLIENT_ID='client id'
NAVER_AUTH_CLIENT_SECRET='client secret'
NAVER_AUTH_CALLBACK_URL='callback url'

# Papago Secrets
X-NAVER-CLIENT-ID='client id'
X-NAVER-CLIENT-SECRET='client secret'